<div>

    <h2 translate="jhtestApp.coverLetterTemplate.home.title">CoverLetterTemplates</h2>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-new">
                <button class="btn btn-success" ui-sref="coverLetterTemplate.new">
                    <span class="glyphicon glyphicon-plus"></span> <span translate="jhtestApp.coverLetterTemplate.home.createLabel">Create a new CoverLetterTemplate</span>
                </button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteCoverLetterTemplateConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(coverLetterTemplate.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="jhtestApp.coverLetterTemplate.delete.question" translate-values="{id: '{{coverLetterTemplate.id}}'}">Are you sure you want to delete this CoverLetterTemplate?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-trash"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="jhtestApp.coverLetterTemplate.name">Name</th>
                    <th translate="jhtestApp.coverLetterTemplate.text">Text</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="coverLetterTemplate in coverLetterTemplates">
                    <td>{{coverLetterTemplate.name}}</td>
                    <td>{{textPreview(coverLetterTemplate.text)}}</td>
                    <td class="td-actions">
                        <a ui-sref="coverLetterTemplate.detail({id:coverLetterTemplate.id})"
                           class="btn btn-default btn-sm">
                            <span translate="entity.action.details">Details</span>
                        </a>
                        <button type="submit"
                                ng-click="delete(coverLetterTemplate.id)"
                                class="btn btn-default btn-sm btn-delete">
                            <span class="glyphicon glyphicon-trash"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
