<form name="editForm" role="form" novalidate ng-submit="editDone()">
    <h2 translate="jhtestApp.position.detail.title">Position details</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <tbody>
            <tr>
                <td class="td-20">
                    <span translate="jhtestApp.position.name">Name</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" ng-model="position.name" ng-readonly="!editing">
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="jhtestApp.position.company">Company</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" ng-model="position.company" ng-readonly="!editing">
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="jhtestApp.position.link">Link</span>
                </td>
                <td>
                    <a ng-href="{{makeHref(position.link)}}" target="_blank" ng-if="!editing">
                        <input type="text" class="input-sm form-control" ng-model="position.link" ng-readonly="true">
                    </a>
                    <input type="text" class="input-sm form-control" ng-model="position.link" ng-if="editing">
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="jhtestApp.position.state">State</span>
                </td>
                <td>
                    <select id="field_state" name="state" class="form-control" ng-model="position.state"
                            ng-options="s as s for s in states" ng-disabled="!editing"></select>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="jhtestApp.position.notes">Notes</span>
                </td>
                <td>
                    <textarea type="text" class="input-sm form-control" ng-model="position.notes"
                              ng-readonly="!editing" msd-elastic style="resize: none;"></textarea>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="jhtestApp.position.createdAt">Created</span>
                </td>
                <td>
                    <span class="non-editable">{{position.created | date:'yyyy-MM-dd HH:mm'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="jhtestApp.position.edited">Edited</span>
                </td>
                <td>
                    <span class="non-editable">{{position.edited | date:'yyyy-MM-dd HH:mm'}}</span>
                </td>
            </tr>
            <tr ng-if="hasCoverLetter()">
                <td>
                    <span translate="jhtestApp.position.coverLetter">Cover letter</span>
                </td>
                <td></td>
            </tr>
            <tr ng-if="hasCoverLetter()">
                <td colspan="2">
                    <textarea class="input-sm form-control" ng-model="position.coverLetter" ng-readonly="!editing" msd-elastic></textarea>
                </td>
            </tr>
            <tr ng-if="hasCV()">
                <td>
                    <span translate="jhtestApp.position.cv">CV</span>
                </td>
                <td>
                    <span class="non-editable"><a ng-href="{{s3url(position.cv)}}" target="_blank">{{fileName(position.cv.filePath)}}</a></span>
                    <button type="button" class="btn btn-sm btn-default" ng-click="editCV()" ng-class="{invisible: !editing}">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.change">Change</span>
                    </button>
                    <button type="button" class="btn btn-sm btn-default btn-delete" ng-click="removeCv(cv)" ng-class="{invisible: !editing}">
                        <span class="glyphicon glyphicon-trash"></span>&nbsp;<span translate="entity.action.remove">Remove</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="button"
            ui-sref="position"
            class="btn btn-default">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back">Back</span>
    </button>
    <button type="button" ng-if="!editing" class="btn btn-success" ng-click="editStart()">
        <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit">Edit</span>
    </button>
    <button type="button" ng-if="editing" class="btn btn-default" ng-click="editCancel()">
        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
    </button>
    <button type="submit" ng-if="editing" class="btn btn-success">
        <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
    </button>
    <button type="button" ng-if="!hasCV()" class="btn btn-default" ng-click="editCV()">
        <span class="glyphicon glyphicon-paperclip"></span>&nbsp;<span translate="jhtestApp.position.action.addCv">Add CV</span>
    </button>
    <span ng-if="!hasCoverLetter()">
        <button type="button" class="btn btn-default" ng-click="addCoverLetter()" ng-if="!coverLetterTemplates.length">
            <span class="glyphicon glyphicon-envelope"></span>&nbsp;<span translate="jhtestApp.position.action.addCoverLetter">Add cover letter</span>
        </button>
        <span ng-if="coverLetterTemplates.length">
            <span translate="jhtestApp.position.action.addCoverLetter">Add cover letter</span>:
            <div class="btn-group" dropdown>
                <button id="split-button" type="button" class="btn btn-default" ng-click="addCoverLetter()">
                    {{defaultCoverLetterTemplate.name}}
                </button>
                <button type="button" class="btn btn-default" dropdown-toggle>
                    <span class="caret"></span>
                    <span class="sr-only">Split button!</span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="split-button">
                    <li role="menuitem" ng-repeat="coverLetterTemplate in coverLetterTemplates">
                        <a href="javascript:void(0);" ng-click="addCoverLetter(coverLetterTemplate)">
                            {{coverLetterTemplate.name}}
                        </a>
                    </li>
                </ul>
            </div>
        </span>
    </span>
</form>
