
<form name="editForm" role="form" novalidate ng-submit="editDone()">
    <h2><span translate="jhtestApp.position.detail.title">Position details</span></h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="jhtestApp.position.name">Name</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" ng-model="position.name" ng-readonly="!editing">
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="jhtestApp.position.company">Company</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" ng-model="position.company" ng-readonly="!editing">
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="jhtestApp.position.link">Link</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" ng-model="position.link" ng-readonly="!editing">
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="jhtestApp.position.state">State</span>
                </td>
                <td>
                    <select id="field_state" name="state" class="form-control" ng-model="position.state"
                            ng-options="s as s for s in states" ng-disabled="!editing"></select>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="jhtestApp.position.notes">Notes</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" ng-model="position.notes" ng-readonly="!editing">
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="jhtestApp.position.createdAt">Created</span>
                </td>
                <td>
                    <span class="non-editable">{{position.created}}"</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="jhtestApp.position.edited">Edited</span>
                </td>
                <td>
                    <span class="non-editable">{{position.edited}}"</span>
                </td>
            </tr>
            <tr ng-if="hasCoverLetter()">
                <td>
                    <span translate="jhtestApp.position.coverLetter">Cover letter</span>
                </td>
                <td>
                    <textarea type="text" class="input-sm form-control" ng-model="position.coverLetter" ng-readonly="!editing" msd-elastic></textarea>
                </td>
            </tr>
            <tr ng-if="hasCV()">
                <td>
                    <span>CV</span>
                </td>
                <td>
                    <span class="non-editable">{{position.cv}}</span>
                    <button type="button" class="btn btn-success" ng-click="editCV()" ng-class="{invisible: !editing}" >
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span>Change</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="button"
            ui-sref="position"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
    <button type="button" ng-if="!editing" class="btn btn-success" ng-click="editStart()">
        <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
    </button>
    <button type="button" ng-if="editing" class="btn btn-default" ng-click="editCancel()">
        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
    </button>
    <button type="submit" ng-if="editing" class="btn btn-primary">
        <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
    </button>
    <button type="button" ng-if="!hasCoverLetter()" class="btn btn-success" ng-click="addCoverLetter()">
        <span class="glyphicon glyphicon-envelope"></span>&nbsp;<span translate="jhtestApp.position.action.addCoverLetter">Add cover letter</span>
    </button>
    <button type="button" ng-if="!hasCV()" class="btn btn-success" ng-click="editCV()">
        <span class="glyphicon glyphicon-paperclip"></span>&nbsp;<span>Add CV</span>
    </button>
</form>
