
<form name="editForm" role="form" novalidate>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="cancel()">&times;</button>
        <h4 class="modal-title" id="myPositionLabel" translate="jhtestApp.position.action.addCv">Add CV</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <table class="table table-condensed table-cv">
                <tbody>
                    <tr ng-repeat="cv in cvs"
                        ng-class="{'success': isCvChosen(cv)}">
                        <td ng-click="chooseCv(cv)" class="td-file-name">
                            {{fileName(cv.filePath)}}
                        </td>
                        <td class="td-actions">
                            <a class="btn btn-sm btn-link" ng-href="{{s3url(cv)}}"
                               target="_blank">
                                <span translate="entity.action.download">Download</span>
                            </a>
                            <button type="button" class="btn btn-sm btn-danger" ng-click="deleteCv(cv)">
                                <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="form-group">
            <table>
                <tr>
                    <td class="col-cv-upload">
                        <button type="file" ngf-select ng-model="cvFile" class="btn btn-primary btn-cv-upload">
                            <span class="glyphicon glyphicon-open-file"></span>&nbsp;<span translate="entity.action.uploadnew">Upload new file</span></button>
                    </td>
                    <td>
                        <div class="progress progress-cv-upload" ng-show="uploading">
                            <div class="progress-bar progress-bar-striped progress-bar-cv-upload active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="button" class="btn btn-primary" ng-click="ok()">
            <span class="glyphicon glyphicon-ok"></span>&nbsp;<span>Ok</span>
        </button>
    </div>
</form>
