
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myPositionLabel" translate="jhtestApp.position.home.createOrEditLabel">Create or edit a Position</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="position.id" readonly>
        </div>

        <div class="form-group">
            <label translate="jhtestApp.position.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="position.name"
                    >

        </div>
        <div class="form-group">
            <label translate="jhtestApp.position.link" for="field_link">Link</label>
            <input type="text" class="form-control" name="link" id="field_link"
                    ng-model="position.link"
                    >

        </div>
        <div class="form-group">
            <label translate="jhtestApp.position.state" for="field_state">State</label>
            <select id="field_state" name="state" class="form-control" ng-model="position.state" ng-options="s as s for s in states"></select>

        </div>
        <div class="form-group">
            <label translate="jhtestApp.position.notes" for="field_notes">Notes</label>
            <input type="text" class="form-control" name="notes" id="field_notes"
                    ng-model="position.notes"
                    >

        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
