
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myPositionLabel" translate="jhtestApp.position.home.createLabel">Create a Position</h4>
    </div>
    <div class="modal-body">

        <div class="form-group">
            <label translate="jhtestApp.position.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="position.name"
                    >

        </div>

        <div class="form-group">
            <label translate="jhtestApp.position.company" for="field_company">Company</label>
            <input type="text" class="form-control" name="company" id="field_company"
                   ng-model="position.company"
                >

        </div>

        <div class="form-group">
            <label translate="jhtestApp.position.location" for="field_location">Location</label>
            <input type="text" class="form-control" name="location" id="field_location"
                   ng-model="position.location"
                >

        </div>

        <div class="form-group">
            <label translate="jhtestApp.position.link" for="field_link">Link</label>
            <input type="text" class="form-control" name="link" id="field_link"
                    ng-model="position.link"
                    >

        </div>
        <div class="form-group">
            <label translate="jhtestApp.position.notes" for="field_notes">Notes</label>
            <input type="text" class="form-control" name="notes" id="field_notes"
                    ng-model="position.notes"
                    >

        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
